.hero {
  background: url(../../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: grid;
  place-items: center;

  &__card {
    background-color: #eee;
    width: 500px;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #1d252c;
      font-size: 40px;
      width: 60px;
      font-weight: 500;
      line-height: 57.6px;
      text-align: center;
    }

    button {
      max-height: 50px;
      padding: 20px;
      width: 100px;
      background-color: #56b280;
      color: white;
      border: 1px solid transparent;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 550px) {
    &__card {
      width: 90%;
      background-color: transparent;
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }

      button {
        font-size: 12px;
        padding: 10px 20px;
      }
    }
  }
}
